[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/dss-cdp-manager"]
	path = lib/dss-cdp-manager
	url = https://github.com/backstop-protocol/dss-cdp-manager
[submodule "testchain"]
	path = testchain
	url = https://github.com/makerdao/testchain.git
[submodule "dss-proxy-actions"]
	path = dss-proxy-actions
	url = https://github.com/backstop-protocol/dss-proxy-actions.git
